# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# Maven / Spring Boot
**/target/
**/.mvn/wrapper/maven-wrapper.jar

# React / Node
**/node_modules/
**/dist/

# Environment variables
.env
.env.*
**/.env
**/.env.*

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db